@model Company.Survey.Core.Data.Entities.Survey

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Questionnaire";
}

<h1>Edit Questionnaire</h1>
<h2>Title: <span contenteditable="true" id="@Model.Id">@Model.Title</span> (@Model.Version)</h2>
<div class="row">
    Updates are made in real time and applied to all matching client distributed surveys of this version (@ViewBag.ClientSurveyCount). To create an identical survey that will update separate from currently distributed client surveys, create a new verion.
</div>
<br />
<div class="row">
    <div class="col">
        <button class="btn btn-primary"
                onclick="location.href='@Url.Action("NewVersion", "Questionnaire", new { id = Model.Id, key = Model.SurveyKey })'">
            Create New Version
        </button>
        <button class="btn btn-danger"
                onclick="location.href='@Url.Action("DisableSurvey", "Questionnaire", new { id = Model.Id })'">
            Disable Survey Version
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <button class="btn btn-primary">
            Add Step to Survey
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        @foreach (var step in Model.SurveySteps)
        {
            <div class="row bg-secondary text-white" contenteditable="true" id="@step.Id">
                <div class="col">
                    @step.Title
                </div>
            </div>
            <div class="row p-2 bg-secondary text-white">
                <div class="col">
                    <button class="btn btn-primary">
                        Add Question
                    </button>
                    @if (step.StepContent == null)
                    {
                        <button class="btn btn-primary">
                            Add Content Section
                        </button>
                    }
                    <button class="btn btn-warning">
                        Remove Step
                    </button>
                </div>
            </div>
            @if (step.StepContent != null)
            {
                @foreach (var block in step.StepContent.ContentBlocks)
                {
                    <div class="row bg-light" contenteditable="true" id="@block.Id">
                        <div class="col">
                            @block.ContentData
                        </div>
                    </div>
                }
            }
            <div class="row bg-light">
                <div class="col">
                    @foreach (var question in step.Questions)
                    {
                        @if (question.ParentSurveyQuestion == null)
                        {
                            <div class="row p-2">
                                <div class="col" contenteditable="true" id="@question.Id">
                                    <button class="btn btn-warning">
                                        Remove
                                    </button>
                                    @question.Quesiton
                                </div>
                            </div>
                        }
                        @if (question.ParentSurveyQuestion != null)
                        {
                            <div class="col border" contenteditable="true" id="@question.Id">
                                @question.Quesiton
                            </div>
                        }
                    }
                </div>
            </div>
            <hr />
        }
    </div>
</div>